/*Header*/
h1 {
	color: black; 
	font-size: 40px; 
	text-align: center; 
	font-family: verdana;
	border: none;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

/*Background Image*/
body {
	background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
	background-size: 130%;
	background-attachment: fixed;
	opacity: 0.9;
}

/*Navigation Bar*/
ul {
	border: 1px solid black;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #F4F8AE;
	font-family: verdana;
	display: flex;
    justify-content: space-evenly;
}
li.for {
	font-size: 14px;

}
.stuff {
	font-size: 12px;
}
li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 9px;
	text-decoration: underline;
}

li a:hover:not(.active) {
	background-color: white;
}

.active {
	color: black;
	background-color: white;
	padding-left: 7px;
	padding-right: 7px;
}
.quickclick {
	display: inline-block;
	width: 21%;
	margin: auto;
	position: fixed;
}
.title1 {
	text-align: left;
}
.subsections {
	text-align: left;
}
/*Text*/


li.explain {
	text-align: left;
	padding-bottom: 20px;
	font-size: 16px;
	opacity: 0.9;
}
li.typeofservice {
	margin-left: 30px;
	text-align: left;
	font-size: 16px;
	padding-bottom: 10px;
}
li {
	font-weight: normal;
	font-size: 12px;
}
img.pic {
	border-style: groove;
	border-color: black;
	border-width: 3px;
	width: 150px;
	border-radius: 20px;
	margin: auto;
}
img#cert {
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	margin:auto;
	width: 100%;
}
.Peeloo {
	text-align: center;
}
.Peeloo img.pic {
	display: inline-block;
}

hr {
	margin-left: 35%;
	width: 50%;
	height: 2px;
	border-width: 1;
	color: black;
	background-color: black;
}

p {
	text-align: center;
	margin: auto;
	width: 80%;
	font-size: 18px;
	font-family: verdana;
	border: 1px solid black;
	background-color: white;
	opacity: 0.9;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}
p.text {
	margin-top: 10px;
	font-size: 16px;
}
p.title {
	margin-left: 45%;
	width: 30%;
	text-decoration: underline;
	padding: 7px;
	opacity: 0.9;
	font-size: 20px;
}
p.submit {
	margin-top: 15%;
}
.season {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: auto;
	width: 60%;
	margin-top: 10px;
	font-size: 16px;
}

/*Textbox*/
table { 
	margin-left: 30%;
	font-family: verdana;
	border: 1px solid black;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	opacity: 0.9;
	width: 60%;
}

td#letter {
	font-size: 16px;
	text-indent: 30px;
	text-align: left;
}
td#college {
	text-align: left;
	border-bottom: none;
}
td {
	border-bottom: 1px solid black;
	text-align: center;
	margin: auto;
	font-size: 16px;
	line-height: 1.6;
}
form {
	font-weight: normal;
	text-align: center; 
	margin: auto;
	width: 60%;
	font-family: fantasy;
	background-color: white;
	border: 1px solid black;
	opacity: 0.9;
}

#fullpage {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

.center {
	margin: auto;
	width: 80%;
	border: none;
}

.label_column {
	text-align: left;
	font-size: 16px;
	border-bottom: none;
}

.input_column {
	text-align: left;
}

.feedback_column {
	text-align: center;
	vertical-align: middle;
	color: gray;
}
#firstname, #lastname, #email, #age, #phonenumber {
	width: 90%;
	height: 40px;
	border:none;
	text-align-last: center;
}


#firstnamePrompt, #lastnamePrompt, 
#emailPrompt, #agePrompt, #phonenumberPrompt {
	font-size: 10px;
	text-align: center;
}
#Submit {
	background: none;
	color: black;
	border-style: double;
	border-width: 7px;
	border-color: #FFE869;
	height: 45px;
	width: 100px;
	font-family: verdana;
	font-size: 20px;
	padding: 0;
}

/*To adjust layout on other devices. Must include Meta in HTML file.*/
@media only screen and (max-width: 870px) {
	body {
		background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
		background-size: 200%;
	}
	img.pic {
		width: 15%;
		margin-bottom: 10px;
	}
	
	.nav {
		border: 1px solid black;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		background-color: #F4F8AE;
		font-family: verdana;
    	justify-content: space-evenly;
    	width: 90%;
    	margin: auto;
    	display: flex;
    	margin-bottom: 20px;
	}
	.quickclick {
		display: none;
	}
	p.title {
		margin: auto;
		width: 65%;
	}
	hr {
		width: 80%;
		margin: auto;
	}
	p {
		font-size: 16px;
		margin: auto;
		width: 80%;
		margin-bottom: 10px;
	}
	td {
		font-size: 20px;
	}
	li {
		font-size: 12px;
		text-align: left;
	}
	table {
		margin: auto;
		width: 100%;
	
	}
	table.center {
		margin: auto;
		width: 80%;
		border: none;
	}
	.season {
		margin: auto;
		width: 80%;
	}
	form {
		margin: auto;
		width: 80%;
	}
	#firstname, #lastname, #email, #age, #phonenumber {
		width: 90%;
		height: 40px;
		border:none;
	}
	#firstnamePrompt, #lastnamePrompt, 
#emailPrompt, #agePrompt, #phonenumberPrompt {
	font-size: 12px;
}
	#Submit {
		font-size: 16px;
		height: 33px;
		width: 80px;
	}
}