/*Header*/
h1 {
	font-size: 40px; 
	text-align: center; 
	font-family: fantasy;
	border: none;
	color: black;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

body{
	background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
	background-size: 130%;
}

/*Navigation Bar*/
ul {
	border: 1px solid black;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #F4F8AE;
	font-family: fantasy;
	display: flex;
    justify-content: space-evenly;
}

li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding-top: 7px;
	text-decoration: underline;
}

li a:hover:not(.active) {
	background-color: white;
}

.active {
	color: black;
	background-color: white;
	padding-left: 7px;
	padding-right: 7px;
}

/*Text*/
li {
	float: left;
	text-align: center;
	font-size: 14px;
}

img {
	border-style: groove;
	border-color: black;
	border-width: 3px;
	width: 150px;
	border-radius: 20px;
	margin: auto;

}

.Peeloo {
	margin: auto;
	display: flex;
}

.season {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: auto;
	width: 40%;

}

p {
	text-align: center; 
	margin: auto;
	width: 80%;
	font-family: fantasy;
	border: 1px solid black;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

form {
	font-weight: normal;
	text-align: center; 
	margin: auto;
	width: 40%;
	font-family: fantasy;
	background-color: white;
	border: 1px solid black;
}

#fullpage {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

td {
	padding-right: 7px;
}

.center {
	margin: auto;
}

.label_column {
	text-align: left;
}

.input_column {
	text-align: left;
}

.feedback_column {
	text-align: center;
	vertical-align: middle;
	color: gray;
}

#firstnamePrompt, #lastnamePrompt, 
#emailPrompt, #agePrompt, #phonenumberPrompt {
	font-size: 10px;
}

#Submit {
	background: white;
	color: black;
	border-style: double;
	border-width: 7px;
	border-color: #FFE869;
	height: 45px;
	width: 100px;
	padding-top: 3px;
	font-family: fantasy;
	font-size: 20px;
}

/*To adjust layout on other devices. Must include Meta in HTML file.*/
@media only screen and (max-width: 800px) {
	body {
		background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
		background-size: 200%;
	}
	img {
		width: 15%;
	}
	li {
		font-size: 13px;
	}
	td {
		font-size: 12px;
	}
	p {
		font-size: 12px;
		margin: auto;
		width: 90%;
	}
	.season {
		margin: auto;
		width: 80%;
	}
	form {
		margin: auto;
		width: 80%;
	}
	#firstname, #lastname, #email, #age, #phonenumber {
		width: 80%;
		height: 10px;
	}
	#firstnamePrompt, #lastnamePrompt, 
#emailPrompt, #agePrompt, #phonenumberPrompt {
	font-size: 7px;
}
	#Submit {
		font-size: 12px;
		height: 33px;
		width: 80px;
	}
}