body{
	background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
	background-size: 127%;
}

p {
	display: inline-block;
	text-align: center; 
	margin: 0 auto;
	margin-left: 40%;
	margin-top: 20%;
	font-family: fantasy;
	border: 1px solid black;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 18px;
}

/*To adjust layout on other devices. Must include Meta in HTML file.*/
body{
	background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
	background-size: 130%;
}
@media only screen and (max-width: 800px) {
	body {
		background-image: url(https://image.freepik.com/free-photo/green-flat-lay-tropical-palm-leaf-branches-white-wooden-planks-background-room-text-copy-lettering_232693-303.jpg);
		background-size: 200%;
	}

	p {
	display: inline-block;
	text-align: center; 
	margin: 0 auto;
	margin-left: 45%;
	margin-top: 30%;
	font-family: fantasy;
	border: 1px solid black;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
	}
}


